@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: rgb(213, 214, 241) 0px 0px 40px;
  }
  .text-shadow-light {
    text-shadow: rgb(80, 80, 88) 0px 0px 20px;
  }
}

body {
  font-family: Inter;
}
